<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connor Finnerty | Contact</title>
  </head>
  <body>

<div class="row">
  <div>
  <h1>Contact Information:</h1>
  <h3>Connor Finnerty</h3>
  <h4>connorfinnerty@gmail(dot)com</h4>
  <h4>978 (five-oh-five) 3107</h4>
  </br>
  <h3>
      <a href="http://www.linkedin.com/pub/connor-finnerty/39/2b2/617">LinkedIn</a>
      </br>
      <a href="https://www.elance.com/s/connorfinnerty/‎">Elance</a>
  </h3>
  </div>
</div>

    <script src="./js/jquery.js"></script>
    <script src="./js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>